*{
    margin: 0px;
    padding: 0px;
}
 
body{
    color: #E9F2F1;
    margin: 0;
    font-size: 18px;
}

.omg{
    background-image: linear-gradient( to right, #56918b 20%, rgb(137, 211, 188), rgb(78, 139, 129),  #56918b); 
    width: 100%;
    height: 100vh;
    margin: auto;
}

.container{
    display: flex;
}

h1{
    font-size: 60px;
    margin-left: 20px;
}

#i{
    color: #E9F2F1;
}

.main{
    width: 100%;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: #70b197;
   
}

.hero{
    width: 35%;
    margin-top: 140px;
    margin-left: 52%;
    border-radius: 150px;
}

.a{
    margin-top: 20px;
    color: #E9F2F1;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover{
    color: #70b197;
}

.h1{
    margin-left: 20px;
    font-size: 80px;
    color: #E9F2F1;
    padding-top: 25px;
}

.menu{
    background-image: linear-gradient( to right, #56918b 20%, rgb(137, 211, 188), rgb(78, 139, 129),  #56918b); 
    display: flex;
    padding: 25px;
    width: 100%;
    border: 1px solid #E9F2F1;
    position: fixed;
    font-family: 'Courier New';
    font-size: 17px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container3{
    display: flex;
}

#um{
    background-color: #70b197;
    width: 50%;
    height: 700px;
}

#dois{
    background-image: url(midias/vivi2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
    height: 700px;
}

#tres{
    background-color: #E9F2F1;
    width: 50%;
    height: 700px;
}

#quatro{
    background-color:#70b197;
    width: 50%;
    height: 700px;
}

#eu{
    margin-top: 160px;

}

#curiosidades{
    margin-top: 20px;
}

.links{
    margin-right: 40px;

}


#cor{
    color: #E9F2F1;
}

p{
    margin-left: 20px;
    margin-top: 10px;
    font-size: 18px;
}

h2{
    margin-top: 20px;
    margin-left: 20px;
    color: white;
}

table{
    width: 400px;
    height: 190px;
    margin-top: 20px;
    margin-left: 20px;
    border: 2px solid #70b197;
    justify-items: center;
}



td{
    border: 1px solid #70b197;
    text-align: center;
    color: #70b197;
}

tr{
    color: #70b197;
}

.causo{
    height: 100px;
    width: 400px;
}


#habilidades{
    margin-top: 50px;
    color: #70b197;
}

#contatos{
    margin-top: 365px;
    text-align: center;
}

#educ{
    color: #70b197;
}

footer{
    background-color: #E9F2F1;
    height: 100px;
    color: #6a8f8b;
    text-align: center;
    align-items: center;
}

.f{
    margin-left: 80px;
    margin-right: 50px;
    color: #6a8f8b;
    font-size: 20px;
}

i{
    margin-right: 5px;
}

.nome{
    color: #E9F2F1;
    font-family: times;
}

.container2{
   padding: 30px;
   display: grid;
   justify-content: center;
   justify-items: center;
   gap: 20px;
   grid-template-columns: repeat(3, minmax(300px, 1fr)) ;
   margin-bottom: 60px;
   flex-wrap: wrap;
}

.card{
    width: 230px;
    height: 300px;
    align-items: center;
    margin-bottom: 30px;
    box-shadow: 7px 7px 10px 0 rgb(120, 112, 112);
}

#ft1{
    background-image: url(midias/card-1.jpeg);
    height: 100%;
    background-size: cover;
}

#ft2{
    background-image: url(midias/card-2.jpeg);
    height: 100%;
    background-size: cover;
}
#ft3{
    background-image: url(midias/card-3.jpeg);
    height: 100%;
    background-size: cover;
}

#ft4{
    background-image: url(midias/card-4.jpeg);
    height: 100%;
    background-size: cover;
}


#ft5{
    background-image: url(midias/card-5.jpeg);
    height: 100%;
    background-size: cover;
}

h2{
    color: #E9F2F1;
}

.card:hover{
    transform: translateY(-5px);
    cursor: pointer;
}

.music{
    margin-left: 32px;
    margin-top: 5px;
}


.habil{
    color: #56918b;
    width: 370px;
    height: 100px;
    padding: 20px;
    margin-top: 10px;
}

.container4{
    display: flex;
    height: 700px;
}


@media screen and (max-width: 768px) {
    .menu {
        padding: 10px;
    }
    body {
        font-size: 16px; /* Tamanho da fonte menor para telas menores */
        margin: 0;
        width: 100%;
    }

    .main{
        padding: 10px;
    }

    .menu {
        font-size: 14px; 
    }

    .omg {
        height: auto; 
        background-size: cover;
    }

    .hero {
        width: 80%; 
        margin-left: 10%; 
    }

    .vivi2 {
        width: 80%; 
        margin-left: 10%; 
        margin-top: 20px; 
    }

    h1 {
        font-size: 40px; 
    }

    .container2{
        grid-template-columns: repeat(2, 1fr);
        display: block;
    }

    .container3 {
        flex-direction: column; 
    }

    #um,
    #dois,
    #tres,
    #quatro {
        width: 100%; 
    }

    p {
        font-size: 16px; 
    }

    table {
        width: 80%; 
    }

    td {
        font-size: 14px; 
    }

    .causo {
        width: 100%; 
    }

    footer {
        height: auto; 
        margin-top: 20px; 
    }
}